<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Coding challenge Part 2- Naveen Automation Labs">
	
	<listeners>
	<listener class-name="challenge2.mmt.Listner.Listner"></listener>
	</listeners>
	<test name="search for Flights" preserve-order="true">
		<classes>
			<class name="challenge2.mmt.tests.TestSetup"></class>
			<class name="challenge2.mmt.tests.SearchFlightTest"></class>
		</classes>
	</test>
	<test name="Count Flight with different Filters" preserve-order="true">
		<classes>
			<class name="challenge2.mmt.tests.FlightCounts"></class>
		</classes>
	</test>
	
	<test name="Validate Flight Prices" preserve-order="true">
		<classes>
			<class name="challenge2.mmt.tests.FlightPrices"></class>
		</classes>
	</test>
</suite>
